<html>
	<head>
		 <meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<style>
			.carousel-inner > .item > img,
			.carousel-inner > .item > a > img {
					width: 70%;
					margin: auto;
			}
			</style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="demoApp">
			<div ng-controller="navbarCtrl">
				<ul>
					<li ng-repeat="i in nav_items"><span>{{$index}}</span><a href="{{i.url}}">{{i.item}}</a></li>
				</ul>
				<h1 ng-show="false">Hello</h1>
				<h1 ng-if="false">Hello</h1>
			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>